---
import Layout from '../layouts/Layout.astro';
import { siteConfig } from '../config/metadata.ts';
import logoGif from '../assets/images/logo.gif'
---

<Layout
	title={siteConfig.pages.home.title}
	description={siteConfig.pages.home.description}
	lang="en"
>
	<div class="h-screen w-screen bg-gradient-primary flex items-center justify-center overflow-hidden">
		<a href="/map/">
			<img 
				src={logoGif.src} 
				alt="Logo animation" 
				class="h-full w-full object-contain cursor-pointer"
			/>
		</a>
	</div>
</Layout>
