---
import Layout from '../layouts/Layout.astro';
import * as m from '../paraglide/messages.js';
import logoGif from '../assets/images/logo.gif'
---

<Layout title={m.home_title()} description={m.home_description()}>
	<div class="h-screen w-screen bg-gradient-primary flex items-center justify-center overflow-hidden">
		<a href="/map/">
			<img 
				src={logoGif.src} 
				alt="Logo animation" 
				class="h-full w-full object-contain cursor-pointer"
			/>
		</a>
	</div>
</Layout>
