---
import Layout from '../layouts/Layout.astro';
import ArtistMap from '../components/ArtistMap.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import { siteConfig } from '../config/metadata.ts';
---

<Layout
	title={siteConfig.pages.map.title}
	description={siteConfig.pages.map.description}
	lang="en"
>
	<!-- Map Page -->
	<div class="min-h-screen" style={{backgroundColor: "#A4A4A4"}}>
		<Navbar currentPage="map" />

		<!-- Map Section -->
		<main class="">
			<ArtistMap />
		</main>
		<Footer />
	</div>
</Layout>