---

import Livemx from '../assets/images/LIVEMX_logo.svg';
import EU from '../assets/images/eu_logo.svg';
import Background from '../assets/images/footer_background.svg';

---

<footer class="footer">
  <div class="footer-content">
    <h2>Crédits</h2>
    <p>Design OKMERCISTUDIO | Development Camille & Guillaume</p>
    <div class="logos">
      <img src={EU.src} alt="EU Logo">
      <img src={Livemx.src} alt="Livemix Logo">
    </div>
    <p class="disclaimer">
      Views and opinions expressed are however those of the author(s) only 
      and do not necessarily reflect those of the European Union or the 
      European Education and Culture Executive Agency (EACEA). Neither 
      the European Union nor the granting authority can be held responsible for them.
    </p>
    <p class="links">
      <a href="#">Contact</a> | <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a>
    </p>
  </div>
</footer>

<style>

.footer {
  /* background: grey; */
  border: 2px solid black;
  position: relative;
  background: #A4A4A4 url(Background) top center;
  font-weight: 500;
}

h2 {
  font-weight: 800;
  margin-bottom: 0;
}

.disclaimer {
  text-align: left;
  padding: 1.5rem 0;
}

.footer-top {
  width: 100%;
  height: 30px;
  display: block;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
}

.logos {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 1.5rem 0;
}

.logos img {
  height: 50px;
}

.links a {
  color: inherit;
  text-decoration: none;
  padding-bottom: 1rem;
}

.links a:hover {
  text-decoration: underline;
}

</style>